<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		<title>易存储云盘首页</title>
		<!-- Bootstrap -->
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/ie10-viewport-bug-workaround.css" />
		<link rel="stylesheet" href="css/dashboard.css" />
		<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
		<script type="text/javascript" src="js/ie-emulation-modes-warning.js"></script>
		<!-- vue -->
		<script type="text/javascript" src="js/vue.js" ></script>
		<script type="text/javascript" src="js/config.js" ></script>
	</head>

	<body oncontextmenu="index.doNothing()">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           				 <span class="sr-only">Toggle navigation</span>
            			 <span class="icon-bar"></span>
          				 <span class="icon-bar"></span>
          				 <span class="icon-bar"></span>
        			 </button>
					<a class="navbar-brand" href="#">易存储云盘</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#">面板控制</a>
						</li>
						<li>
							<a href="#">设置</a>
						</li>
						<li>
							<a href="#">个人中心</a>
						</li>
						<li>
							<a href="#">帮助</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container-fluid" id="container">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					 
					<ul class="nav nav-sidebar">
						<li class="col-md-10">
							<input type="text" class="form-control" placeholder="搜索...">
						</li>
					</ul>
					
					<ul class="nav nav-sidebar" id="module">
						
						<li v-for="item in moduleData" v-on:click="switchView(item)">
							
							<a href="javascript:void(0)"  :fileType="item.fileType">
								<span :class="item.iconClass" aria-hidden="true"></span>
								<span>{{item.moduleName}}</span></a>
						</li>
					</ul>
					<!--
					<ul class="nav nav-sidebar">
						<li>
							<a href="">Nav item again</a>
						</li>
						<li>
							<a href="">One more nav</a>
						</li>
						<li>
							<a href="">Another nav item</a>
						</li>
					</ul>-->
				</div>
				
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<div>
						<button type="button" class="btn btn-primary">上传文件</button>
						<button type="button" class="btn btn-primary" onclick="index.createDir('1')">新建文件夹</button>
					</div>

					<h5>
						<ol class="breadcrumb">
							<li v-for="path in filePath" v-on:click="selectDir(path)"><a href="#">{{path.name}}</a></li>
							<!--<li><a href="#">文件夹一</a></li>
							<li class="active">生活</li>-->
						</ol>
					</h5>
					
					<!-- 
					<div class="row placeholders">
						<div class="col-xs-6 col-sm-3 placeholder">
							<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
							<h4>Label</h4>
							<span class="text-muted">Something else</span>
						</div>
						<div class="col-xs-6 col-sm-3 placeholder">
							<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
							<h4>Label</h4>
							<span class="text-muted">Something else</span>
						</div>
						<div class="col-xs-6 col-sm-3 placeholder">
							<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
							<h4>Label</h4>
							<span class="text-muted">Something else</span>
						</div>
						<div class="col-xs-6 col-sm-3 placeholder">
							<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
							<h4>Label</h4>
							<span class="text-muted">Something else</span>
						</div>
					</div>
					-->
					<div class="table-responsive" v-if="view === 'all'">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>
										<input type="checkbox" name="fileCheck">
									</th>
									<th>名称</th>
									<th>最后一次修改时间</th>
									<th>文件大小</th>
								</tr>
							</thead>
							<tbody class="context"  data-toggle="context">
								<tr  v-for="fileItem in fileItems" v-on:dblclick="showChildDir(fileItem)" :id="fileItem.id">
									<td><input type="checkbox" name="fileCheck"></td>
									<td>
										<img src="img/icon-file-m.svg" v-if="fileItem.fileType === 'dir'"></img>
										<img src="img/icon-nor-m.svg" v-else ></img>
										<input type="text" v-if="fileItem.type === 'input'" v-model="fileItem.fileName"
										 v-on:blur="saveDir(fileItem);">
										<span v-else>{{fileItem.fileName}}</span>
										</td>
									<td>{{fileItem.lastModifyTime}}</td>
									<td>{{calFileSize(fileItem.fileSize)}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="table-responsive" v-if="view !== 'all'">
					     else
					</div>
				</div>
			</div>
		</div>

		<div id="context-menu">
	      	<ul class="dropdown-menu" role="menu">
            <li><a tabindex="-1" action="download">下载</a></li>
	           <li><a tabindex="-1" action="move">移动</a></li>
	           <li><a tabindex="-1" action="delete">删除</a></li>
	           <li><a tabindex="-1" action="rename">重命名</a></li>
	      	</ul>
	      </div>
		<!-- Bootstrap core JavaScript
    ================================================== -->
		<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
		<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
		<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
		<script type="text/javascript" src="js/holder.min.js"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script type="text/javascript" src="js/ie10-viewport-bug-workaround.js"></script>
		<script type="text/javascript" src="js/index.js" ></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.js"></script>
		<script type="text/javascript" src="js/bootstrap-contextmenu.js"></script>
	</body>

</html>